<!-- Encabezado -->
<app-header [titulo]="data" ruta="/home"></app-header>

<ion-content>
<!-- Categorias -->
  <ion-card color="primary" *ngFor="let item of categorias">
    <div [routerLink]="['/categoria/subcategorias', item.catId]">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: right;">
        <img [src]="item.image" alt="fv" style="width: 80px; height: 80px;">
      </ion-card-content>
    </div>
  </ion-card>

  <!-- Scroll infinito -->
  <app-infinite-scroll (ionInfinite)="loadData($event)"></app-infinite-scroll>
</ion-content>
