div {
    height: 100%;
    display: block;
    background-color: #28ba62;
}

ion-content {
    text-align: center;
}

ion-img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
}

ion-spinner{
    color: white;
}

